{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Home</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>
           About us
        </h1>
    </div>
    <div class="container">
        <p>
            It is only a development project. Please do not share your real data.
            Remember to respect our intellectual property.
        </p>
    </div>
{% endblock %}