{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Home</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>
            If your company is looking for innovations
        </h1>
    </div>
    <div class="container">
        <p>
            Our great platform is what you are looking for. Just give us some time and we will tell you why.
        </p>
    </div>
{% endblock %}