{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Home</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>
            Welcome!
        </h1>
    </div>
    <div class="container">
        <p>
            Just a test text on a homepage.
        </p>
    </div>
{% endblock %}