{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Individual</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>
            If you are an individual user
        </h1>
    </div>
    <div class="container">
        <p>
            This page is for you. Here will be some useful information about what you can do with our help.
        </p>
    </div>
{% endblock %}