{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Info</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>
            Transaction Pipes - The new way of dealing with money
        </h1>
    </div>
    <div class="container">
        <p>
            Here will be the text about our pioneer platform.
        </p>
    </div>
    <div class="container my-5">
        <p>
            Currently we are supporting only limited number of bank institutions:
        </p>
        <ul>
            <li title="Account number prefix: 180027935543">TIBanking</li>
        </ul>
    </div>
{% endblock %}