<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/basic.css' %}" type="text/css">

    <!-- Modified head will be here -->
    {% block head %}
        <title>Fast Transactions</title>
    {% endblock %}
</head>
<body>
    <div class="container my-3 rounded py-3" id="mainContainer">

        {# Navbar section #}
        <nav class="navbar navbar-expand-lg navbar-light rounded-top py-3" id="mainMenu">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home/">Fast Transactions</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarMenu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/home/transaction-pipes">Transaction Pipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/individual/">For individual</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/company/">For company</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/about-us/">About us</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <!-- Depends on user status - authorised or not -->
                        <!-- Authorised -->
                        {% if user.is_authenticated and user.is_active %}
                            <li class="nav-item">
                                <a class="nav-link" href="/account/profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tp/pipe-creation/">New Pipe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tp/your-pipes/">Your Pipes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/account/logout">Log out</a>
                            </li>
                        <!-- Not authorised -->
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/account/registration/">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/account/login">Log in</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {# Superuser menu section #}
        {% if user.is_superuser %}
        <nav class="navbar navbar-expand-lg navbar-light py-1" id="adminMenu">
            <div class="container-fluid">
                <span class="navbar-brand">Admin menu</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAdminMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarAdminMenu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Admin site</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Messages</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}
        {# Latin quote #}
        <blockquote class="container rounded-bottom px-3 py-2" id="menuQuote">
            <p class="mb-0">Homo doctus in se semper divitias habet.</p>
            <footer class="blockquote-footer">Gaius Julius Phaedrus - Roman fabulist</footer>
        </blockquote>

        <!-- Modified body will be here -->
        {% block body %}
        {% endblock %}
    </div>
    {# Spacing between main content and footer #}
    <div style="height:60px; width:100%; clear:both;"></div>
    {# Footer #}
    <footer class="container rounded-top fixed-bottom" id="mainFooter">
        <span class="text-muted">Warning: This platform is just a private project. You should not pass your real data here. You browse this site on your own responsibility.</span>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>