{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - New Pipe</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="mb-4">
            Create new transaction pipe
        </h2>

        {# Show errors #}
        {% if my_errors %}
            <h6 class="error-message">
                {% for error in my_errors %}
                    {{ error }}<br/>
                {% endfor %}
            </h6>
        {% endif %}

        <div>
            <form method="post">

                {# Creation form #}
                {% csrf_token %}
                <div class="form-group row mb-4" onload="">
                    {# Name #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="name-addon">Name</span>
                            </div>
                            {{ abstract_form.name }}
                        </div>
                    </div>
                    <div class="d-block d-lg-none">
                        <br/>
                    </div>
                    {# Pipe type #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="type-addon">Type</span>
                            </div>
                            {{ abstract_form.pipe_type }}
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-4">
                    {# Sender account #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="sender-addon">Sender account</span>
                            </div>
                            {{ abstract_form.sender_account }}
                        </div>
                    </div>
                    <div class="d-block d-lg-none">
                        <br/>
                    </div>
                    {# Recipient account #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="recipient-addon">Recipient account</span>
                            </div>
                            {{ abstract_form.recipient_account }}
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-4">
                    {# Pipe description #}
                    <div class="col-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"
                                      id="description-addon">Description</span>
                            </div>
                            {{ abstract_form.description }}
                        </div>
                    </div>
                </div>

                {% load static %}
                <script type="text/javascript" src="{% static "js/create-transfer-pipe.js" %}"></script>
                {# Shows up when type schedule is selected #}
                <div id="create-schedule-pipe" {% if abstract_form.pipe_type.value != '2' %}
                     style="display: none" {% endif %}>
                    <div class="form-group row mb-4">
                        {# Date field #}
                        <div class="col-sm-12 col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="date-addon">Day of a month</span>
                                </div>
                                {{ schedule_form.date }}
                            </div>
                        </div>
                        <div class="d-block d-lg-none">
                            <br/>
                        </div>
                        {# Amount field #}
                        <div class="col-sm-12 col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="amount-addon">Amount</span>
                                </div>
                                {{ schedule_form.amount }}
                                <div class="input-group-append">
                                    <span class="input-group-text">PLN</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1"></div>
                    <button type="submit" class="btn">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}