{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - New Pipe</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="mb-4">
            Create new transaction pipe
        </h2>

        {# Show errors #}
        {% if my_errors %}
            <h6 class="error-message">
                {% for error in my_errors %}
                    {{ error }}<br/>
                {% endfor %}
            </h6>
        {% endif %}

        <div>
            <form method="post">

                {# Creation form #}
                {% csrf_token %}
                <div class="form-group row mb-4">
                    {# Date field #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="date-addon">Day of a month</span>
                            </div>
                            {{ form.date }}
                        </div>
                    </div>
                    <div class="d-block d-lg-none">
                        <br/>
                    </div>
                    {# Amount field #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="amount-addon">Amount</span>
                            </div>
                            {{ form.amount }}
                            <div class="input-group-append">
                                <span class="input-group-text">PLN</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1"></div>
                    <button type="submit" class="btn">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}