{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Your Pipe History</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="mb-4">
            History of {{ pipe.name }}
        </h2>
        <div class="container"></div>
            {% if not history_events %}
                <h5 class="p-3">There is no history events connected with this pipe.</h5>
            {% else %}

                {# Display every history event with description #}
                {% for event in history_events %}
                    {# TODO - display history #}
                {% endfor %}
            {% endif %}
            <h5 class="p-3">Pipe was created: {{ pipe.creation_date }}</h5>
        </div>
    </div>
{% endblock %}