{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Your Pipes</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="mb-4">
            Your transaction pipes
        </h2>

        <form method="post">
            {% csrf_token %}

            {# Transaction pipes section #}
            <div class="row">

                {# Conventional pipes #}
                <div class="col-sm-12 col-lg-6 mb-3">
                    <h4>Conventional pipes</h4>

                    {% if not conventional_pipes %}
                        <h5 class="p-3">Currently you do not have any pipe of this type.</h5>
                    {% else %}
                        {# Display every conventional pipe with description #}
                        {% for pipe in conventional_pipes %}
                            <div class="card card-conventional my-3"">
                                <div class="card-header">{{ pipe.name }}</div>
                                <div class="card-body">
                                    <p class="card-text">{{ pipe.description }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Sender account: {{ pipe.sender_account }}</li>
                                    <li class="list-group-item">Recipient account: {{ pipe.recipient_account }}</li>
                                    <li class="list-group-item">Sender account: {{ pipe.sender_account }}</li>
                                    <li class="list-group-item">Creation date: {{ pipe.creation_date }}</li>
                                </ul>
                                {# Button options #}
                                <div class="card-body text-right">
                                    <div class="btn-group py-1" role="group">
                                        <button type="submit" class="btn" name="type" value="new_request.{{ pipe.id }}">
                                            New request
                                        </button>
                                        <button type="submit" class="btn" name="type"
                                                value="pending_requests.{{ pipe.id }}">Pending requests
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="submit" class="btn" name="type" value="history.{{ pipe.id }}">
                                            History
                                        </button>
                                        <button type="submit" class="btn" name="type" value="modify.{{ pipe.id }}">
                                            Modify
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                {# Schedule pipes #}
                <div class="col-sm-12 col-lg-6 mb-3">
                    <h4>Schedule pipes</h4>

                    {% if not schedule_pipes %}
                        <h5 class="p-3">Currently you do not have any pipe of this type.</h5>
                    {% else %}
                        {# Display every schedule pipe with description #}
                        {% for pipe in schedule_pipes %}
                            <div class="card card-schedule my-3">
                                <div class="card-header">{{ pipe.name }}</div>
                                <div class="card-body">
                                    <p class="card-text">{{ pipe.description }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Sender account: {{ pipe.sender_account }}</li>
                                    <li class="list-group-item">Recipient account: {{ pipe.recipient_account }}</li>
                                    <li class="list-group-item">Sender account: {{ pipe.sender_account }}</li>
                                    <li class="list-group-item">Transfer schedule for {{ pipe.get_date2str }} of
                                        month.
                                    </li>
                                    <li class="list-group-item">Creation date: {{ pipe.creation_date }}</li>
                                </ul>
                                {# Button options #}
                                <div class="card-body text-right">
                                    <div class="btn-group" role="group">
                                        <button type="submit" class="btn" name="type" value="history.{{ pipe.id }}">
                                            History
                                        </button>
                                        <button type="submit" class="btn" name="type" value="modify.{{ pipe.id }}">
                                            Modify
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}