{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Your Pipe Requests</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="mb-4">
            Pending requests of {{ pipe.name }}
        </h2>
        <div class="container">
            <form method="post">

                {# Modify form #}
                {% csrf_token %}
                {% if not pending_requests %}
                    <h5 class="p-3">There is no waiting requests connected with this pipe.</h5>
                {% else %}

                    {# Display every requests with description #}
                    <div class="card-columns">
                        {% for request in pending_requests %}
                            <div class="card card-conventional my-3 text-center" id="request-{{ request.id }}">
                                <div class="card-header">Date: {{ request.date }}</div>
                                <div class="card-body">
                                    <p class="card-text">Amount: {{ request.amount }}</p>
                                </div>
                                {# Button option #}
                                <div class="card-body text-right">
                                    <div class="btn-group" role="group">
                                        <button type="submit" class="btn" name="type"
                                                value="delete.{{ pipe.id }}.{{ request.id }}">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}