{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Login</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2>
            You can log in here
        </h2>

        {# In case of error happend show it #}
        {% if form.errors %}
            <h6 class="error-message">Your username and password didn't match. Please try again.</h6>
        {% endif %}

        <div>
            <form method="post">

                {# Login form #}
                {% csrf_token %}
                <div class="form-group row mb-4">
                    {# Username #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="username-addon">Username</span>
                          </div>
                          {{ form.username }}
                        </div>
                    </div>
                    <div class="d-block d-lg-none">
                        <br/>
                    </div>
                    {# Password #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="password-addon">Password</span>
                          </div>
                          {{ form.password }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <button type="submit" class="btn">Log in</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}