{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Logout</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2>
            You have been successfully logged out
        </h2>
        <div class="p-3 mt-6 mx-3 row">
            <a role="button" class="btn" href="/account/login">Log in again</a>
            <h4 class="px-3">or</h4>
            <a type="button" class="btn" href="/home">Take me home</a>
        </div>
    </div>
{% endblock %}