{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Profile</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2>
            Hello {{ user.first_name }} {{ user.last_name }}
        </h2>
        <div class="container">
            <p class="p-3">
                Here we will display your data which are stored in ours servers.
            </p>
            <p class="p-3">
                WIP - processing your data...
            </p>
        </div>
    </div>
{% endblock %}