{% extends 'base.html' %}

{% block head %}
    <title>Fast Transactions - Login</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2>
            You can sign in here
        </h2>
        {# Show errors #}
        {% if form.errors %}
            <h6 class="error-message">
            {% for error in form.get_errors %}
                {{ error }}<br/>
            {% endfor %}
            </h6>
        {% endif %}
        <div>
            <form method="post">

                {# Registration form #}
                {% csrf_token %}

                <div class="form-group row mb-4">
                    {# Username #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="username-addon">Username</span>
                          </div>
                          {{ form.username }}
                        </div>
                    </div>
                    <div class="d-block d-lg-none">
                        <br/>
                    </div>
                    {# Email #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="email-addon">Email</span>
                          </div>
                          {{ form.email }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    {# First name #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="first-name-addon">First name</span>
                          </div>
                          {{ form.first_name }}
                        </div>
                    </div>
                    <div class="d-block d-lg-none">
                        <br/>
                    </div>
                    {# Last name #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="last-name-addon">Last name</span>
                          </div>
                          {{ form.last_name }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    {# Password #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="password1-addon">Password</span>
                          </div>
                          {{ form.password1 }}
                        </div>
                    </div>
                    <div class="d-block d-lg-none">
                        <br/>
                    </div>
                    {# Repeat password #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="password2-addon">Repeat password</span>
                          </div>
                          {{ form.password2 }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    {# Phone number #}
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="phone-number-addon">Phone number</span>
                          </div>
                          {{ form.phone_number }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <button type="submit" class="btn">Sign in</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}