body {
    background: white url("../images/orange-grey-gradient.jpg");
}

#mainContainer {
    background: white;
    -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    padding-bottom: 25px;
}

/* Main menu section*/
#mainMenu {
    background: linear-gradient(to bottom right, #D9530B, #FF8135);
    -webkit-box-shadow: 0 0px 30px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
}

#navbarMenu .nav-link{
    color: #3D3D3D;
    font-weight: 600;
    padding-left: 7%;
    transition-duration: 0.25s;
}

#navbarMenu .nav-link:hover{
    color: #F4E3D9;
}

/* Admin menu section */
#adminMenu {
    background: linear-gradient(to bottom right, #FFAC75, #FFE1CA);
    -webkit-box-shadow: 0 0px 30px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

#adminMenu .navbar-brand {
    font-size: 15px;
}

#adminMenu .nav-link{
    color: #3D3D3D;
    font-weight: 500;
    padding-left: 7%;
    transition-duration: 0.25s;
}

#adminMenu .nav-link:hover{
    color: #FFFFFF;
}

/* Menu quote section */
#menuQuote{
    background-color: #999999;
    font-style: italic;
}

#menuQuote .blockquote-footer{
    text-align: right;
}

/* Errors */
.error-message {
    color: #D60D00;
    margin: 25px
}

/*Buttons */
.btn {
    background: linear-gradient(to bottom right, #D9530B, #FF8135);
    color: #3D3D3D;
    font-size: 18px;
}

.btn:hover {
    color: #F4E3D9;
}

.btn-group>.btn {
    font-size: 17px;
}

/* Conventional card style */
.card-conventional{
    background-color: rgba(255,140,25,0.2) /*#FFA348*/;
}

.card-conventional .list-group-item{
    background-color: rgba(255,140,25,0.025) /*#FFA348*/;
}

.card-conventional>.card-header {
    background-color: rgba(255,127,0,0.2) /*#FF7F00*/;
}

.card-conventional .btn-group>.btn {
    background: linear-gradient(to bottom, rgba(255,127,0,0.4), rgba(255,140,25,0.4));
    font-size: 17px;
}

/* Schedule card style */
.card-schedule {
    background-color: rgba(72,213,255,0.2) /*#48D5FF*/;
}

.card-schedule .list-group-item{
    background-color: rgba(72,213,255,0.025) /*#48D5FF*/;
}

.card-schedule>.card-header {
    background-color: rgba(0,197,255,0.2)/*#00C5FF*/;
}

.card-schedule .btn-group>.btn {
    background: linear-gradient(to bottom, rgba(0,197,255,0.4), rgba(72,213,255,0.4));
    font-size: 17px;
}

.card-conventional .btn-group>.btn:hover, .card-schedule .btn-group>.btn:hover {
    color: #FFFFFF;
}

/* Footer */
#mainFooter {
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background: white;
    font-size: 14px;
    text-align: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #menuQuote p{
        text-align: center;
    }

    #menuQuote .blockquote-footer{
        padding-right: 15%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #navbarMen .nav-link {
        padding-left: 0;
    }

    #menuQuote .blockquote-footer{
        padding-right: 25%;
    }
}